@import "./partials/utilities/vars";
@import "./partials/base/reset";
@import "./partials/base/theme";

@import "./partials/layout/header-general";
@import "./partials/componentes/separador";
@import "./partials/layout/main-principal";
@import "./partials/layout/footer-general";

@import "./partials/responsive/media-queries";