$color-de-fondo: linear-gradient(180deg, rgba(9,8,8,1) 
25%, rgba(33,31,32,1) 75%);
$color-principaluno: #f4a9a9;
$color-principaldos: #ffffff;

$fuente-monstserrat: 'Montserrat', sans-serif;
$fuente-estonia: 'Estonia', cursive;
$fuente-bebas: 'Bebas Neue', cursive;
$fuente-lato: 'Lato', sans-serif;

@mixin texto-color-alineacion {
    color: $color-principaldos;
        text-align: center;
}

$bordes: (
    borde: 8px $color-principaluno solid,
    curvaDelBorde: 5%,
);