@import "../utilities/vars";
@import "../responsive/media-queries";

.contenedor__galeria {
    margin-top: 4rem;

    &DeUñas {
      display: flex;
      flex-direction: column;  
    }
    
    &Titulo {
      font-family: $fuente-bebas;
      font-size: 3rem;
      color: $color-principaldos;
      text-align: center;
      @include hasta768px {
        font-size: 2.8rem;
      }
      @include hasta480px {
        font-size: 2.2rem;
      }
      @include hasta320px {
        font-size: 1.9rem;
      }
    }
  }

  .contenedor__deImagen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 2rem 4rem;
    @include hasta1200px {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
  
  .contenedor__imagen {
    @include sombreado-de-caja;
    border: map-get($bordes, borde);
    border-radius: map-get($bordes, curvaDelBorde);
    object-fit: cover;
    width: map-get($recuadro, anchoDeImagen);
    height: map-get($recuadro, altoDeImagen);
    @include hasta1200px {
      width: map-get($recuadro, anchoDeImagen)+200px;
      height: map-get($recuadro, altoDeImagen)+100px;
      margin-bottom: 50px;
    }
    @include hasta1024px {
      width: map-get($recuadro, anchoDeImagen)+300px;
      height: map-get($recuadro, altoDeImagen)+150px;
      margin-bottom: 50px;
    }
    @include hasta768px {
      width: map-get($recuadro, anchoDeImagen)+100px;
      height: map-get($recuadro, altoDeImagen);
      margin-bottom: 50px;
    }
    @include hasta480px {
      width: map-get($recuadro, anchoDeImagen);
      height: map-get($recuadro, altoDeImagen)-50px;
      margin-bottom: 50px;
    }
    @include hasta320px {
      width: map-get($recuadro, anchoDeImagen)-20px;
      height: map-get($recuadro, altoDeImagen)-100px;
      margin-bottom: 50px;
    }
  }