@import "../utilities/vars";
@import "../responsive/media-queries";

%alineacionstt {
  display: flex;
  flex-direction: column;   
  align-items: center;
}

.form {
    @extend %alineacionstt;
    margin: 4rem 0px 4rem;

    &__contenedor {
      width: 840px;
      text-align: center;

      &Recuadro {
        @extend %alineacionstt;
        border: map-get($bordes, borde);
        border-radius: map-get($bordes, curvaDelBorde);
        @include sombreado-de-caja;
        margin-top: 4rem;
      }
      
      &Titulo {
        font-family: 'Lato', sans-serif;
        font-size: 1.3rem;
        color: $color-principaluno;
        padding: 30px 0px;
      }
      
      &Comp:focus {
        border-color: $color-principaldos;
        box-shadow: 0 0 0 0.25rem $color-principaluno;
      }
      
      &Opcion {
        display: flex;
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        color: #ffffff;
      }
      
      &Radio {
        border-radius: 25% !important;
        margin-left: 1.5em !important;
        margin-right: 10px;

        &:checked {
          background-color: $color-principaldos;
          border-color: $color-principaluno;
        }
        
        &:focus {
          border-color: $color-principaldos;
          box-shadow: 0 0 0 0.25rem $color-principaluno;
        }
      }
    }
    
    &__textarea {
      width: 35rem;
      height: 15rem;
    }
    
    &__contenedorbtn {
      margin: 30px 0px;
    }
  }
   
  .btn {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: $color-principalcinco;
    background-color: $color-principaldos;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 0px 1rem;

    &:hover {
      background-color: $color-principaluno;
      box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
      color: $color-principaluno;
      transform: translateY(-7px);
    }
     
    &:active {
      transform: translateY(-1px);
    }
   }
   