@import "../utilities/vars";
@import "../responsive/media-queries";

.proximamente {
    margin: 4rem 0px 4rem;

    &__contenedorUno {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    
    }
    
    &__descripcion {
      margin-top: 2rem;
      width: 500px;
    }
    
    &__contenedorDos {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 4rem 2rem;
    }
    
    &__contenedorImg {
      border: map-get($bordes, borde);
      border-radius: map-get($bordes, curvaDelBorde);
      @include sombreado-de-caja;
      object-fit: cover;
      width: 300px;
      height: 300px;
    }
  }
  