@import "../responsive/media-queries";
@import "../utilities/vars";

.nosotras__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;

    &Local {
      display: grid;
      grid-template-areas: "foto1 foto2"
                        "descripcion1 foto2";
      grid-template-rows: 1fr 42%;
      grid-template-columns: 47% 21%;
      justify-content: center;
      gap: 4rem;
      margin-bottom: 4rem;
      @include hasta1024px {
        grid-template-rows: 43% 42%;
        grid-template-columns: 50% 25%;
      }
      @include hasta768px {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
      }
    }
    
    &ImgAncha {
      grid-area: foto1;
      overflow: hidden;
      border: map-get($bordes, borde);
      border-radius: 1%;
      @include sombreado-de-caja;
      object-fit: cover;
      @include hasta768px {
          width: 550px;
      }
      @include hasta600px {
        width: 400px;
      }
      @include hasta320px {
        width: 300px;
      }
    }
    
    &ImgLarga {
      grid-area: foto2;
      overflow: hidden;
      border: map-get($bordes, borde);
      border-radius: 1%;
      @include sombreado-de-caja;
      object-fit: cover;
      @include hasta768px {
        width: 250px;
    }
    }
    
    &Descripcion {
      grid-area: descripcion1;
    }
  }
  
  .contenedor__descripcion--corto {
    width: 500px;
    margin-top: 2rem;
    @include hasta600px {
        width: 400px;
    }
    @include hasta320px {
        width: 300px;
    }
  }
  