@import "../utilities/vars";
@import "../responsive/media-queries";

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0px 4rem;

    &__contenedor {
      width: 840px;
      text-align: center;

      &Recuadro {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 8px #f4a9a9 solid;
        border-radius: 5%;
        box-shadow:  10px 10px 7px #141212,
                   -10px -10px 7px #262424;
        margin-top: 4rem;
      }
      
      &Titulo {
        font-family: 'Lato', sans-serif;
        font-size: 1.3rem;
        color: #f4a9a9;
        padding: 30px 0px;
      }
      
      &Comp:focus {
        border-color: white;
        box-shadow: 0 0 0 0.25rem #f4a9a9;
      }
      
      &Opcion {
        display: flex;
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        color: #ffffff;
      }
      
      &Radio {
        border-radius: 25% !important;
        margin-left: 1.5em !important;
        margin-right: 10px;

        &:checked {
          background-color: white;
          border-color: #f4a9a9;
        }
        
        &:focus {
          border-color: white;
          box-shadow: 0 0 0 0.25rem #f4a9a9;
        }
      }
    }
    
    &__textarea {
      width: 35rem;
      height: 15rem;
    }
    
    &__contenedorbtn {
      margin: 30px 0px;
    }
  }
  
  
  .btn {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 0px 1rem;

    &:hover {
      background-color: #f4a9a9;
      box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
      color: #fff;
      transform: translateY(-7px);
    }
     
    &:active {
      transform: translateY(-1px);
    }
   }
   