@import "../utilities/vars";
@import "../responsive/media-queries";

.contenedor__galeria {
    margin-top: 4rem;

    &DeUñas {
      display: flex;
      flex-direction: column;  
    }
    
    &Titulo {
      font-family: $fuente-bebas;
      font-size: 3rem;
      color: $color-principaldos;
      text-align: center;
    }
  }

  .contenedor__deImagen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 2rem 4rem;
  }
  
  .contenedor__imagen {
    @include sombreado-de-caja;
    border: map-get($bordes, borde);
    border-radius: map-get($bordes, curvaDelBorde);
    object-fit: cover;
    width: 300px;
    height: 300px;
  }