@import "../utilities/vars";
@import "../responsive/media-queries";

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;

    &__contenedor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: map-get($bordes, borde);
      border-radius:map-get($bordes, curvaDelBorde);
      @include sombreado-de-caja;
      width: 700px;
      margin: 4rem;
      @include hasta768px {
        width: 550px;
      }
      @include hasta600px {
        width: 450px;
      }
      @include hasta480px {
        width: 350px;
      }
      @include hasta480px {
        width: 350px;
      }
      @include hasta320px {
        width: 280px;
      }

      &A {
        padding: 30px;
      }
      
      &B {
        @extend .price__contenedorA;
      }
      
      &C {
        @extend .price__contenedorA;
      }
    }
  }
  