@import "../utilities/vars";
@import "../responsive/media-queries";

.contenedor {
    display: grid;
    grid-template-areas:
          "contenido1 contenido2"
          "contenido3 contenido4"
          "contenido5 contenido5";
    grid-template-columns: 47% 47%;
    justify-content: center;
    gap: 1rem;
    @include hasta1024px {
      display: flex;
      flex-direction: column;
      margin: 0px 5rem;
      align-items: center;
    }
    @include hasta768px {
      margin: 0px 2rem;
    }

    &__articuloUno {
        grid-area: contenido1;   
        @extend %alineacion;
        margin-top: 4rem;
    }
    
    &__titulo {
        font-family: $fuente-bebas;
        font-size: 3rem;
        @include texto-color-alineacion;
        line-height: 3rem;
        @include hasta768px {
          font-size: 2.8rem;
        }
        @include hasta480px {
          font-size: 2.2rem;
        }
        @include hasta320px {
          font-size: 1.9rem;
        }
      }
      
    &__descripcion {
        font-family: $fuente-monstserrat;
        font-size: 1.3rem;
        @include texto-color-alineacion;
        line-height: 2rem;
        @include hasta1024px {
          line-height: 2.3rem;
        }
        @include hasta768px {
          font-size: 1.2rem;
        }
        @include hasta480px {
          font-size: 1rem;
        }

        &--mt {
          @include hasta1024px {
            margin-top: 3rem;
          }
        }
      }
    
    &__slider {
        grid-area: contenido2;
        overflow: hidden;
        margin-top: 4rem;
        border: map-get($bordes, borde);
        border-radius: map-get($bordes , curvaDelBorde);
        box-shadow: 10px 10px 7px #141212,
                  -10px -10px 7px #262424;
        @include hasta1024px {
          width: 70%;
        }
        @include hasta600px {
          width: 525px;
        }
        @include hasta480px {
          width: 400px;
        }
        @include hasta320px {
          width: 240px;
        }
      }
      
    &__articuloDos {
        grid-area: contenido4;   
        @extend %alineacion;
        margin-top: 4rem;
      }
      
    &__multimedia {
        grid-area: contenido3;
        overflow: hidden;
        display: flex;
        justify-content: center;
        margin-top: 4rem;
        border: map-get($bordes, borde);
        border-radius: map-get($bordes , curvaDelBorde);
        box-shadow: 10px 10px 7px #141212,
                  -10px -10px 7px #262424;
      }
      
    &__video {
        width: 635px;
        height: 480px;
        @include hasta1200px {
          width: 564px;
          height: 427px;
        }
        @include hasta600px {
          width: 520px;
          height: 390px;
        }
        @include hasta480px {
          width: 400px;
          height: 300px;
        }
        @include hasta320px {
          width: 240px;
          height: 180px;
        }
      }
      
    &__tituloMap {
        grid-area: contenido5;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 4rem;
      }
      
    &__transporte {
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
        @include hasta768px {
          flex-direction: column;
        }
      }
      
    &__tituloChico {
        font-family: $fuente-bebas;
        font-size: 1.8rem;
        color: #ffffff;
        line-height: 3rem;
        text-align: center;
        list-style-type: none;
        padding-left: 0;
        @include hasta768px {
          font-size: 2.2rem;
        }

        &--margin {
          margin-top: 2rem;
        }
      }
      
    &__map {
        margin-top: 2rem;
      }
}