@import "./vars";

.encabezado__logo {
    width: 200px;
    margin-top: 1rem;
    transition: all 1s;

    &:hover {
        transform: scale(1.1);
    }
}

.encabezado__lema {
    font-family: $fuente-estonia;
    font-size: 2.5rem;
    color: $color-principaluno;
}
  
.encabezado__enlace {
  margin: 0px 10px;
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.5s;
  background-position: 0% 100%;
  text-decoration: none;
  font-family: $fuente-monstserrat;
  font-weight: bold;
  color: $color-principaldos;

  &:hover, &:focus {
    color: $color-principaluno !important;
    background-size: 100% 2px;
    transition: 0.2s
  }
}